<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>
<form method="post" th:action="@{'/books/edit'+${id}}" th:object="${books}">
    Title:
    <input th:field="*{title}" type="text"/></br>
    Author:
    <input th:field="*{author}" type="text"/></br>
    Isbn:
    <input th:field="*{isbn}" type="text"/></br>
    Date:
    <input th:field="*{date}" type="text"/></br>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>