<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Book</title>
</head>
<body>
<h3> Book Details </h3>
<form method="get" th:action="@{'/books/showall'}" th:object="${books}">
    <div>
        <table>
            <tr>
                <td>AUTHOR</td>
                <td th:text="${author}"></td>
            </tr>
            <tr>
                <td>TITLE</td>
                <td th:text="${title} "></td>
            </tr>
            <tr>
                <td>ISBN</td>
                <td th:text="${isbn}"></td>
            </tr>
            <tr>
                <td>YEAR</td>
                <td th:text="${year}"></td>
            </tr>
        </table>
    </div>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>