<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Of Books</title>
</head>
<body>
<a th:href="@{/books/add}">Add Books</a>
<div th:switch="${book}">
    <h2 th:case="null">No book available !!!</h2>
    <div th:case="*">
        <h2>Books</h2>
        <table>
            <thead>
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>Show</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${book}">
                <td th:text="${book.author}"></td>
                <td th:text="${book.title}"></td>
                <td><a th:href="@{/books/{id}/show(id=${book.id})}">Show</a></td>
                <td><a th:href="@{/books/{id}/edit(id=${book.id})}">Edit</a></td>
                <td><a th:href="@{/books/{id}/delete(id=${book.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>